extends layout 

block content 
    nav 
        a(href='/catalog', class='navLinks') Home 
        a(href='/catalog/items', class='navLinks') All bikes 
        a(href='/catalog/categorys', class='navLinks') All makes 
        a(href='/catalog/item/create', class='navLinks') Add bike
    h3= title 
    div(class='formContainer')
        form(method='POST' action='')
            label(for='name') Name: 
            input(type='text' placeholder='Enter make name' required name='name' value=(undefined===makers ? '' : makers.name) )
            label(for='description') Description: 
            input(type='text' required placeholder='Enter description' name='description' value=(undefined===makers ? '' : makers.description))
            button(type='submit') Add
    
    if errors
        ul
            for error in errors
                li!= error.msg