extends layout 

block content 
    nav 
        a(href='/catalog') Home 
        a(href='/catalog/items') All bikes 
        a(href='/catalog/categorys') All makes 
        a(href='/catalog/item/create') Add bike
    h3= title 
    div(class='formContainer')
        form(method='POST' action='')
            label(for='name') Name: 
            input(type='text' name='name' value=(undefined===makers ? '' : makers.name) )
            label(for='description') Description: 
            input(type='text' name='description' value=(undefined===makers ? '' : makers.description))
            button(type='submit') Add
    
    if errors
        ul
            for error in errors
                li!= error.msg