extends layout

block content
  h1= title
  p Welcome to #{title} application!
  
  a(href='/catalog/items') All bikes

  a(href='/catalog/categorys') All makes

  a(href='/catalog/item/create') Add bike 

  a(href='/catalog/category/create') Add make