extends layout

block content
  div(class='homeContainer') 
    h1(class='first') Super 
      h2(class='second') Sport 
        h3(class='third') Shop
    a(href='/catalog/items', class='shopNow') Shop Now!
  
    