extends layout 

block content
    nav 
        a(href='/catalog', class='navLinks') Home
        a(href='/catalog/categorys', class='navLinks') All makes 
        a(href='/catalog/item/create', class='navLinks') Add bike 
        a(href='/catalog/category/create', class='navLinks') Add make
    h1= title
    
    ul(class='detailContainer')
        each bike in bike_list 
            li 
                a(href=bike.url, class='detail') #{bike.name}

        else 
            li There are no bikes.

