extends layout

block content
  nav 
    a(href='/catalog', class='navLinks') Home 
    a(href='/catalog/items', class='navLinks') All bikes 
    a(href='/catalog/categorys', class='navLinks') All makes 
    a(href='/catalog/category/create', class='navLinks') Add make
  h1 #{title}
  div(class='formContainer')
    form(method='POST' action='')
      label(for='name') Name:
      input(type='text', placeholder='Enter bike year followed by make and model (e.g. 2022 Honda CBR600RR)' required name='name' value=(undefined===bike ? '' : bike.name))
      label(for='category') Category: 
      select(name='category')
        each make in maker
          option(value=make._id,required, selected=(undefined===bike ? '' : bike.category._id && bike.category._id.toString() === make._id.toString())) #{make.name}
      label(for='description') Details: 
      input(type='text', placeholder='Enter bike description' name = 'description' required, value=(undefined===bike ? '' : bike.description))
      label(for='price') Price: 
      input(type='text', placeholder='Enter bike price' name = 'price' required value=(undefined===bike ? '' : bike.price))
      label(for='quantity') Quantity:
      input(type='text', placeholder='Enter bike quantity' name = 'quantity' required value=(undefined===bike ? '' : bike.quantity))
      button(type='submit') Submit:

  if errors
   ul
    for error in errors
     li!= error.msg
